# Node Modules
/node_modules
/apps/back/node_modules
/apps/front/node_modules
/apps/admin/node_modules
/packages/types/node_modules
/packages/ui-components/node_modules

# Dist
/apps/back/dist
/apps/front/dist
/packages/types/dist

# .env
apps/back/.env
apps/front/.env
apps/admin/.env
