@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: "cremiss";
    src: url("/cremiss.otf");
  }

  @font-face {
    font-family: "cremiss-sig";
    src: url("/cremiss-sig.otf");
  }

  @font-face {
    font-family: "roboto-bold";
    src: url("/roboto-bold.ttf");
  }

  @font-face {
    font-family: "roboto-light";
    src: url("/roboto-light.ttf");
  }

  @font-face {
    font-family: "roboto-regular";
    src: url("/roboto-regular.ttf");
  }
}

html {
  scroll-behavior: smooth;
  color: white;
}
p,
span,
div {
  font-family: roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cremiss;
}
